<!--Section: FAQ-->
<div class="m-3 p-3">
<section class="container">
  <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
  <p class="text-center mb-5">
    Qui trovi le nostre FAQs, se non dovessero aiutarti non esitare a contattarci.
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> Perchè non riesco a loggare, sono stato escluso?</h6>
      <p>
        <strong><u>Probabilmente No!</u></strong>
        Ricorda che uno dei motivi principali per cui non riesci a loggare è perchè non hai ancora creato un account tramite la procedura di<a class="btn-default" href="http://localhost:8080/register"> registrazione</a>. Se così non fosse non esitare a contattarci tramite il nostro form di supporto. Ti risponderemo prima possibile.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Ho dimenticato la password, posso recuperarla?</h6>
      <p>
        <strong><u>Si, è possibile!</u></strong> Se hai dimenticato la password puoi recuperarla tramite il nostro form di <a class="btn-default" href="http://localhost:8080/reset-password">recupero password</a>. Ricorda che ovviamente non manteniamo la tua password in chiaro perciò dopo aver completato la procedura di riconoscimento dovrai scegliere una nuova password.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> Come posso cambiare il mio nome utente?</h6>
      <p>
        <strong><u>Non è possibile!</u></strong> Il nome utente è univoco e non può essere cambiato. Se vuoi cambiare il nome utente dovrai creare un nuovo account, ma così perderai tutti i tuoi dati e recensioni.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> Esiste un piano pubblicitario?
      </h6>
      <p>
        <strong><u>No, non esiste!</u></strong> Il nostro servizio è uguale e gratuito per tutti i nostri utenti , tuttavia se vuoi che il tuo annuncio venga visualizzato come sponsorizzato dovrai contattarci tramite il nostro form di supporto, una volta messi in contatto ti forniremo tutte le informazioni necessarie.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> Posso creare un annuncio per un oggetto?
      </h6>
      <p><strong><u>Sfortunatamente no!</u>.</strong> Il nostro servizio consente solo la creazione di annunci per quanto rigarda appartamenti, ville e terreni edificabili. Gli annunci non inerenti a una di queste tre categorie verrano prontamente eliminati dal team di supporto.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Come faccio a creare un annuncio? </h6>
      <p>
        <strong><u>Non c'è cosa più semplice!</u></strong> Ti basterà seguire la procedura di<a class="btn-default" href="http://localhost:8080/register"> registrazione</a> e poi cliccare su "Crea annuncio" nella pagina principale. Una volta completata la procedura di creazione dell'annuncio, il tuo annuncio verrà pubblicato e sarà visibile a tutti gli utenti.
      </p>
    </div>
  </div>
</section>
  <!--Section: Contact v.2-->
<section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contattaci</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Hai altre domande? Non esitare a contattarci, il nostro team di supporto ti risponderà appena possibile.</p>

  <div class="row justify-content-center align-items-center">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <label for="name" class="">Il tuo nome</label>
                          <input type="text" id="name" name="name" class="form-control" value="" placeholder="Nome">
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <label for="email" class="">La tua Email</label>
                          <input type="text" id="email" name="email" class="form-control" value="" placeholder="Email">

                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                        <label for="subject" class="">Oggetto</label>
                        <input type="text" id="subject" name="subject" class="form-control" placeholder="Oggetto">
                      </div>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form">
                        <label for="message">Messaggio</label>
                          <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Messaggio"></textarea>
                      </div>

                  </div>
              </div>
              <!--Grid row-->

          </form>

          <div class="text-center text-md-left m-1 p-1">
              <a class="btn btn-primary">Invia</a>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->
</div>
<!--Section: FAQ-->
