<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Affitti/Vendite</h1>
  <p class="lead">Inserisci il nome di un annuncio o la città a cui sei interessato e ti mostreremo i risultati!</p>
  <form class="container">
    <div class="form-group">
      <input type="text" class="form-control btn-lg" id="search" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-primary"><span class="h3">Cerca</span></button>
  </form>
</div>

<div *ngFor="let ad of ads" class="container justify-content-center">
  <div class="card">
    <div class="row no-gutters m-3">
        <div class="col-lg-5 col-md-7 col-md-12">
          <img src="https://fakeimg.pl/400x250/?text=Hello">
        </div>
        <div class="col">
            <div class="card-block px-2">
                <h4 class="card-title">{{ad.title}}</h4>
                <p class="card-text">{{ad.description}}</p>
                <a href="#" class="btn btn-primary">{{ad.price}}</a>
                <hr>
                <a href="/profiles/{{ad.user.nickname}}" class="card-text text-dark">{{ad.user.nickname}}</a>
            </div>
        </div>
    </div>
    <div class="card-footer w-100 text-muted">
        <button class="btn btn-lg btn-outline-primary btn-block">Leggi annuncio</button>
    </div>
  </div>
</div>
