<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-2 col-lg-2 border-right" style="margin-top: -2%;">

      </div>
      <div class="col-md-7 col-lg 7 border-right">
          <div class="p-1 py-5" style="margin-top: -5%;">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-center display-3">Aggiungi un Annuncio!</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6">
                    <label for="titleInput">Titolo</label>
                    <input id="titleInput" type="text" class="form-control" placeholder="Titolo" value="">
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col-md-12">
                    <label for="text-areaInput">Descrizione</label>
                    <textarea id="text-areaInput" type="text" class="form-control" placeholder="Descrizione" rows="4" value=""></textarea>
                  </div>
                  <div class="col-md-12">
                    <label for="typeInput">Tipo</label>
                    <select id="typeInput" type="text" class="form-control" placeholder="Tipo" value="">
                      <option>Villa</option>
                      <option>Appartamento</option>
                      <option>Terreno</option>
                    </select>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12">
                    <label for="mqInput">Metriquadri</label>
                    <input id="mqInput" type="number" class="form-control" placeholder="mq" value="">
                  </div>
                  <div class="col-md-12">
                  </div>
                  <div class="col-md-6">
                    <label>Indirizzo di Residenza</label>
                    <input type="text" class="form-control" placeholder="Indirizzo" value="Via Giacomo Matteotti">
                  </div>
                  <div class="col-md-6">
                    <label>CAP</label>
                    <input type="tel" class="form-control" placeholder="CAP" value="87064">
                  </div>
                  <hr>
              </div>
              <div class=" row mt-4">
                  <div class="col-md-12">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="password" value="">
                  </div>
                  <div class="col-md-12">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm password" value="">
                  </div>
              </div>
              <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" type="button">Salva Profilo</button>
              </div>
          </div>
      </div>
      <div class="col-md-2 col-lg-2">
          <div class="p-3 py-5">

          </div>
      </div>
  </div>
</div>
